@media only screen and (max-width: 480px) {
  /* Header section */
  header .desktop-logo, .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
    top: 4rem;
  }
  header .mobile-nav {
    padding: 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
/* banner section */
  .banner {
    padding: 0;
  }

  .banner-content {
    display: flex;
    flex-flow: column wrap;
  }

  .banner-content img {
    width: 100%;
    padding: 0;
  }

  h1 {
    margin: 0;
  }
  .cta {
    margin: 32px 16px;
    max-width: 405px;
    padding: 0;
    width: 100%;
  }

  h3 {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  button {
    margin: auto;
    width: 100%;
  }
  /* News section */
  .featured, .desktop-img {
    display: none;
  }

  .news {
    padding: 0;
  }

  #guest {
    background-color: white;
  }

  .read-more {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    border-left: none;
    padding-top: 0;
  }

  .card {
    display: block;
  }

  .card img {
    width: 100%;
    height: 40%;
  }

  .card-text {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .mobile-img {
    display: flex;
    width: auto;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Courses section */
  .program-card img, h5, .courses {
    display: none;
  }
  .programs {
    background-color: white;
  }

  .programs h2 {
    margin: 0 auto 1rem;
  }

  .program-card {
    background-color: rgba(225, 219, 216, 0.8);
    margin: 0 1rem .5rem;
    vertical-align: middle;
  }
  .grid-container {
    display: block;
    width: 100%;
    padding: 0;
  }

  .program-description {
    padding: 0;
  }
  .program-description h4 {
    padding: 1rem;
  }
  /*thesis */
  .featured-video h4, .video-description, .more {
    display: none;
  }
  .thesis {
    padding: 0;
  }
  .news-content {
    padding: 2rem 0 1.5rem;
  }

}
