/* Universal */
html {
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

main {
  position: relative;
  top: 4rem;
  bottom: 4rem;
  padding-bottom: 2rem;
}

h1 {
    font-family: 'Gayathri', sans-serif;
    font-size: 2.5rem;
    color: rgba(10, 10, 10, 0.8);
    font-weight: bolder;
    max-width: 310px;
  }

  h2 {
    font-size: 2rem;
    color: rgba(10, 10, 10, 0.75);
    font-weight: bold;
  }

  h3 {
    font-size: 1.25rem;
    color: rgba(10, 10, 10, 0.75);
    line-height: 1.5;
  }

  h4 {
    font-size: 1.125rem;
    color: rgba(10, 10, 10, 0.75);
    line-height: 1.5;
  }

  p {
    font-size: 1rem;
    color: rgba(10, 10, 10, 0.95);
    font-weight: 400;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    outline: none;
    color: rgba(10, 10, 10, 0.95);
    font-size: 1rem;
  }

  .site-wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  /* Header */
  .mobile-nav {
    display: none;
  }

  header {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #fff;
    height: 4rem;
  }

  header .site-wrapper {
    height: 100%;
    padding: 0 1.5rem;
  }

  .logo {
    float: left;
    display: block;
    margin: 0;
    height: 2rem;
    font-weight: lighter;
    padding: .5rem 0;
    align-items: flex-start;
  }

  .logo-text {
    font-size: 1.5rem;
    font-family: 'Gayathri', sans-serif;
    margin: 1rem 0;
    height: 2rem;
    float: left;
    font-weight: lighter;
  }

  .logo-text span {
    font-weight: 900;
    padding-right: .25rem;
  }

  .logo img {
    position: relative;
    width: 2rem;
    padding-right: .25rem;
    height: auto;
  }
  
  nav {
    float: right;
    width: 60%;
  }

  ul {
    list-style-type: none;
    text-align: right;
    float: right;
  }

  nav ul li {
    display: inline-block;
    padding-left: 1rem;
  }

  .desktop-menu a {
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* Banner section */
  .banner {
    display: flex;
    background-color: rgba(225, 219, 216, 0.8);
  }

  .banner-container.site-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 2rem 1.5rem;
  }
  
  .banner-img {
    width: 60%;
  }

  .cta {
    padding-left: 1.5rem;
    margin: auto 0;
    text-align: left;
    width: 40%;
    max-width: 310px;
  }

  .cta h1, .cta h3 {
    margin: 0 auto 1.5rem;
  }

  button {
    border-radius: 6px;
    background-color: rgba(74, 74, 74, 1);
    color: white;
    width: 310px;
    padding: .5rem 1rem;
    font-size: .875rem;
  }
  
  button:hover {
    background-color: rgba(74, 74, 74, 0.75);
    font-weight: bold;
  }

/* News section */
.mobile {
  display: none;
}

.news {
  display: flex;
  align-items: flex-start;
}

.news-content {
  display: inline-flex;
  flex: 1;
}

.section-poster {
  width: 60%;
  padding-right: 1.5rem;
  padding-top: 2rem;
}

.section-poster p {
  width: 95%;
  margin-top: 0;
  margin-bottom: 2rem;
}

.section-poster h2 {
  margin: 2rem 0 1.5rem;
}

.section-poster img {
  width: 100%;
}

.section-info__wrapper {
  padding-top: 1rem;
  width: 40%;
  border-left: 2px solid rgba(225, 219, 216, 0.8);
}

.section-info__card {
  display: inline-flex;
  flex: 1;
  height: 30%;
  width: 100%;
  border-bottom: 2px solid rgba(225, 219, 216, 0.8);
}

.section-info__img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.section-info__text {
  padding: 1rem;
  margin: auto;
  width: 50%;
}

.section-info__text h4, p {
  margin-top: .5rem;
  margin-bottom: 0;
}

.section-info__text a {
  text-decoration: none;
  color: rgba(50, 50, 255, .8);
}

#guest {
  background-color: rgba(225, 219, 216, 0.8);
}

 /*Learning section */
 .programs {
  background-color: rgba(225, 219, 216, 0.4);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.programs h2 {
  margin: 0 auto 2rem;
  text-align: center;
}

.grid-container {
  display: inline-grid;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.program-card {
  background-color: white;
}

.program-card__img {
  height: auto;
  width: 100%;
}

.program-card__text {
  padding: 1rem 1rem 1.5rem;
  line-height: 1.5;
}

.program-card__text h5, p {
  margin: .5rem 0 0 0;
}

.program-card__text h4 {
  margin: 0;
}

 /* Thesis section */
 .thesis {
  display: flex;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.thesis-title {
  margin: 2rem auto 0;
  text-align: center;
}

#thesis {
  margin-top: 2rem;
  padding-top: 0;
  border: none;
}

#thesis .section-info__card {
  border: none;
}
#first {
  background-color: rgba(225, 219, 216, .8);
}

h4.video {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/* footer */

footer {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  padding-top: .5rem;
  border-top: 2px solid rgba(225, 219, 216, 0.8);
}

#footer {
  width: 50%;
  margin: .5rem 0;
  font-size: .75rem;
}

.terms {
  margin-top: .5rem;
  float: right;
  width: 50%;
}

.terms a {
  float: right;
  text-align: right;
  padding-left: 1rem;
  font-size: .75rem;
}